.header {
  align-items: center;
  background-color: #ffffffaa;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 3em;
  position: sticky;
  top: 0;
  width: 100%;
}
.headerTitle {
  font-weight: bold;
  margin-left: 1em;
}
.content {
  height: 100%;
  width: 100%;
}
.nav {
  align-items: center;
  border-top: 1px solid #ccc;
  display: flex;
  height: 3em;
  width: 100%;
}
