.header {
  align-items: center;
  background-color: #ffffffaa;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #eee;
  display: flex;
  height: 3em;
  position: sticky;
  top: 0;
  width: 100%;
}
.headerTitle {
  font-weight: bold;
  padding-left: 1em;
}
.content {
  flex: 1;
  margin: 1em;
  overflow-y: auto;
}
.nav {
  align-items: center;
  background-color: #ffffff;
  border-top-left-radius: 1px solid #eee;
  display: flex;
  height: 3em;
  position: sticky;
  bottom: 0;
  width: 100%;
}
.navButton {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
}
.navButton:hover {
  background: radial-gradient(#0099ff22 15%, transparent 16%);
  background-size: 180px 180px;
  background-position: center;
}
